In [0]:
dados = [('Fluminense', 'Campeonato Carioca', 1906)
,('Fluminense', 'Campeonato Carioca', 1907)
,('Fluminense', 'Campeonato Carioca', 1908)
,('Fluminense', 'Campeonato Carioca', 1909)
,('Fluminense', 'Campeonato Carioca', 1911)
,('Fluminense', 'Campeonato Carioca', 1917)
,('Fluminense', 'Campeonato Carioca', 1918)
,('Fluminense', 'Campeonato Carioca', 1919)
,('Fluminense', 'Campeonato Carioca', 1924)
,('Fluminense', 'Campeonato Carioca', 1936)
,('Fluminense', 'Campeonato Carioca', 1937)
,('Fluminense', 'Campeonato Carioca', 1938)
,('Fluminense', 'Campeonato Carioca', 1940)
,('Fluminense', 'Campeonato Carioca', 1941)
,('Fluminense', 'Campeonato Carioca', 1946)
,('Fluminense', 'Campeonato Carioca', 1951)
,('Fluminense', 'Campeonato Carioca', 1959)
,('Fluminense', 'Campeonato Carioca', 1964)
,('Fluminense', 'Campeonato Carioca', 1969)
,('Fluminense', 'Campeonato Carioca', 1971)
,('Fluminense', 'Campeonato Carioca', 1973)
,('Fluminense', 'Campeonato Carioca', 1975)
,('Fluminense', 'Campeonato Carioca', 1976)
,('Fluminense', 'Campeonato Carioca', 1980)
,('Fluminense', 'Campeonato Carioca', 1983)
,('Fluminense', 'Campeonato Carioca', 1984)
,('Fluminense', 'Campeonato Carioca', 1985)
,('Fluminense', 'Campeonato Carioca', 1995)
,('Fluminense', 'Campeonato Carioca', 2002)
,('Fluminense', 'Campeonato Carioca', 2005)
,('Fluminense', 'Campeonato Carioca', 2012)
,('Fluminense', 'Campeonato Carioca', 2022)
,('Fluminense', 'Campeonato Carioca', 2023)
,('Fluminense', 'Taça Guanabara', 1975)
,('Fluminense', 'Taça Guanabara', 1983)
,('Fluminense', 'Taça Guanabara', 1985)
,('Fluminense', 'Taça Guanabara', 1991)
,('Fluminense', 'Taça Guanabara', 1993)
,('Fluminense', 'Taça Guanabara', 2012)
,('Fluminense', 'Taça Guanabara', 2017)
,('Fluminense', 'Taça Guanabara', 2022)
,('Fluminense', 'Taça Guanabara', 2023)
,('Fluminense', 'Campeonato Brasileiro' ,1970)
,('Fluminense', 'Campeonato Brasileiro' ,1984)
,('Fluminense', 'Campeonato Brasileiro' ,2010)
,('Fluminense', 'Campeonato Brasileiro' ,2012)]

schema = ('Clube', 'Titulo', 'Ano')

df = spark.createDataFrame(dados, schema =schema)

df.show()

+----------+------------------+----+
|     Clube|            Titulo| Ano|
+----------+------------------+----+
|Fluminense|Campeonato Carioca|1906|
|Fluminense|Campeonato Carioca|1907|
|Fluminense|Campeonato Carioca|1908|
|Fluminense|Campeonato Carioca|1909|
|Fluminense|Campeonato Carioca|1911|
|Fluminense|Campeonato Carioca|1917|
|Fluminense|Campeonato Carioca|1918|
|Fluminense|Campeonato Carioca|1919|
|Fluminense|Campeonato Carioca|1924|
|Fluminense|Campeonato Carioca|1936|
|Fluminense|Campeonato Carioca|1937|
|Fluminense|Campeonato Carioca|1938|
|Fluminense|Campeonato Carioca|1940|
|Fluminense|Campeonato Carioca|1941|
|Fluminense|Campeonato Carioca|1946|
|Fluminense|Campeonato Carioca|1951|
|Fluminense|Campeonato Carioca|1959|
|Fluminense|Campeonato Carioca|1964|
|Fluminense|Campeonato Carioca|1969|
|Fluminense|Campeonato Carioca|1971|
+----------+------------------+----+
only showing top 20 rows

In [0]:
df.printSchema()

root
 |-- Clube: string (nullable = true)
 |-- Titulo: string (nullable = true)
 |-- Ano: long (nullable = true)

In [0]:
dir(df)

Out[4]: ['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'display',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'na',
 'observe',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [0]:
help(df.toPandas)

Help on method toPandas in module pyspark.sql.pandas.conversion:

toPandas() -> 'PandasDataFrameLike' method of pyspark.sql.dataframe.DataFrame instance
    Returns the contents of this :class:`DataFrame` as Pandas ``pandas.DataFrame``.

    This is only available if Pandas is installed and available.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Notes
    -----
    This method should only be used if the resulting Pandas ``pandas.DataFrame`` is
    expected to be small, as all the data is loaded into the driver's memory.

    Usage with ``spark.sql.execution.arrow.pyspark.enabled=True`` is experimental.

    Examples
    --------
    >>> df.toPandas()  # doctest: +SKIP
       age   name
    0    2  Alice
    1    5    Bob

In [0]:
type(df)

Out[6]: pyspark.sql.dataframe.DataFrame

In [0]:
dfPandas = df.toPandas()

In [0]:
type(dfPandas)

Out[8]: pandas.core.frame.DataFrame

In [0]:
dfPandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Clube   46 non-null     object
 1   Titulo  46 non-null     object
 2   Ano     46 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.2+ KB

In [0]:
dfSpark = spark.createDataFrame(dfPandas)

In [0]:
dfSpark.count()

Out[13]: 46