In [0]:
from pyspark.sql.functions import *

In [0]:
dados = [('Fred','1983-10-03')
,('Romário', '1966-01-29')
,('Ronaldo Fenômeno', '1976-09-18')
,('Jogador XPTO', '2023-06-01')]

schema = ('Nome', 'DataNascimento')

df = spark.createDataFrame(dados, schema =schema)

df.show()

+----------------+--------------+
|            Nome|DataNascimento|
+----------------+--------------+
|            Fred|    1983-10-03|
|         Romário|    1966-01-29|
|Ronaldo Fenômeno|    1976-09-18|
|    Jogador XPTO|    2023-06-01|
+----------------+--------------+

In [0]:
df.printSchema()

root
 |-- Nome: string (nullable = true)
 |-- DataNascimento: string (nullable = true)

In [0]:
df = df.withColumn('DataNascimento' , to_date(df.DataNascimento))

In [0]:
df.show()

+----------------+--------------+
|            Nome|DataNascimento|
+----------------+--------------+
|            Fred|    1983-10-03|
|         Romário|    1966-01-29|
|Ronaldo Fenômeno|    1976-09-18|
+----------------+--------------+

In [0]:
df = df.withColumn('DataCadastro' , current_date() )

In [0]:
df.show()

+----------------+--------------+------------+
|            Nome|DataNascimento|DataCadastro|
+----------------+--------------+------------+
|            Fred|    1983-10-03|  2023-10-31|
|         Romário|    1966-01-29|  2023-10-31|
|Ronaldo Fenômeno|    1976-09-18|  2023-10-31|
|    Jogador XPTO|    2023-10-01|  2023-10-31|
+----------------+--------------+------------+

In [0]:
help(datediff)

Help on function datediff in module pyspark.sql.functions:

datediff(end: 'ColumnOrName', start: 'ColumnOrName') -> pyspark.sql.column.Column
    Returns the number of days from `start` to `end`.

    .. versionadded:: 1.5.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    end : :class:`~pyspark.sql.Column` or str
        to date column to work on.
    start : :class:`~pyspark.sql.Column` or str
        from date column to work on.

    Returns
    -------
    :class:`~pyspark.sql.Column`
        difference in days between two dates.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08','2015-05-10')], ['d1', 'd2'])
    >>> df.select(datediff(df.d2, df.d1).alias('diff')).collect()
    [Row(diff=32)]

In [0]:
df = df.withColumn('DiferencaEmDias' , datediff( df.DataCadastro, df.DataNascimento ))

In [0]:
help(months_between)

Help on function months_between in module pyspark.sql.functions:

months_between(date1: 'ColumnOrName', date2: 'ColumnOrName', roundOff: bool = True) -> pyspark.sql.column.Column
    Returns number of months between dates date1 and date2.
    If date1 is later than date2, then the result is positive.
    A whole number is returned if both inputs have the same day of month or both are the last day
    of their respective months. Otherwise, the difference is calculated assuming 31 days per month.
    The result is rounded off to 8 digits unless `roundOff` is set to `False`.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    date1 : :class:`~pyspark.sql.Column` or str
        first date column.
    date2 : :class:`~pyspark.sql.Column` or str
        second date column.
    roundOff : bool, optional
        whether to round (to 8 digits) the final value or not (default: True).

    Returns
    -------
    :class:`~pyspark.sql.Column`
        number of months between two dates.

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00', '1996-10-30')], ['date1', 'date2'])
    >>> df.select(months_between(df.date1, df.date2).alias('months')).collect()
    [Row(months=3.94959677)]
    >>> df.select(months_between(df.date1, df.date2, False).alias('months')).collect()
    [Row(months=3.9495967741935485)]

In [0]:
df = df.withColumn('TotalDeMesesNoIntervalo' , months_between(df.DataCadastro , df.DataNascimento) )

In [0]:
df = df.withColumn('DataFuturaADDDias' , date_add(df.DataNascimento , 10))

In [0]:
df.withColumn('DataFuturaADDDias' , date_add(df.DataNascimento , -10))

+----------------+--------------+------------+---------------+-----------------------+-----------------+
|            Nome|DataNascimento|DataCadastro|DiferencaEmDias|TotalDeMesesNoIntervalo|DataFuturaADDDias|
+----------------+--------------+------------+---------------+-----------------------+-----------------+
|            Fred|    1983-10-03|  2023-10-31|          14638|           480.90322581|       1983-09-23|
|         Romário|    1966-01-29|  2023-10-31|          21094|           693.06451613|       1966-01-19|
|Ronaldo Fenômeno|    1976-09-18|  2023-10-31|          17209|           565.41935484|       1976-09-08|
|    Jogador XPTO|    2023-06-01|  2023-10-31|            152|             4.96774194|       2023-05-22|
+----------------+--------------+------------+---------------+-----------------------+-----------------+

In [0]:
df = df.withColumn('DataFuturaADDMeses', add_months(df.DataNascimento , 1))