In [0]:
dados = [("Gabriel","Analista","RJ",90000,34,10000), \
    ("Roberta","Vendedora","BA",86000,56,20000), \
    ("Nina","Médica","RJ",81000,30,23000), \
    ("Maria","Enfermeira","MA",90000,24,23000) \
  ]

schema= ["nome","funcao","estado","salario","idade","bonus"]
df = spark.createDataFrame(data = dados, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- funcao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: long (nullable = true)
 |-- idade: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------+----------+------+-------+-----+-----+
|nome   |funcao    |estado|salario|idade|bonus|
+-------+----------+------+-------+-----+-----+
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Roberta|Vendedora |BA    |86000  |56   |20000|
|Nina   |Médica    |RJ    |81000  |30   |23000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
+-------+----------+------+-------+-----+-----+

In [0]:
dados = [("Gabriel","Analista","RJ",90000,34,10000), \
    ("Maria","Enfermeira","MA",90000,24,23000), \
    ("Nina","Médica","RJ",79000,53,15000), \
    ("Roberta","Vendedora","BA",80000,25,18000), \
    ("Claudio","Militar","BH",91000,50,21000) \
  ]
columns2= ["nome","funcao","estado","salario","idade","bonus"]

df2 = spark.createDataFrame(data = dados, schema = schema)

df2.printSchema()
df2.show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- funcao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: long (nullable = true)
 |-- idade: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------+----------+------+-------+-----+-----+
|nome   |funcao    |estado|salario|idade|bonus|
+-------+----------+------+-------+-----+-----+
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Nina   |Médica    |RJ    |79000  |53   |15000|
|Roberta|Vendedora |BA    |80000  |25   |18000|
|Claudio|Militar   |BH    |91000  |50   |21000|
+-------+----------+------+-------+-----+-----+

## SQL 
    * Union - EXCLUI DUPLICATADAS NO SQL
    * Union ALL - NÃO EXCLUI DUPLICATADAS NO SQL

  * Link Documentacão: https://learn.microsoft.com/pt-br/sql/t-sql/language-elements/set-operators-union-transact-sql?view=sql-server-ver16

## PYSPARK 
    * Union - NÃO EXCLUI DUPLICATADAS NO PYSPARK
    * Union ALL - FOI DESCONTINUADO NA VERSÃO 2 DO SPARK

  * Link Documentação: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.union.html

In [0]:
df3 = df.union(df2)

df3.printSchema()

df3.show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- funcao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: long (nullable = true)
 |-- idade: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------+----------+------+-------+-----+-----+
|nome   |funcao    |estado|salario|idade|bonus|
+-------+----------+------+-------+-----+-----+
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Roberta|Vendedora |BA    |86000  |56   |20000|
|Nina   |Médica    |RJ    |81000  |30   |23000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Nina   |Médica    |RJ    |79000  |53   |15000|
|Roberta|Vendedora |BA    |80000  |25   |18000|
|Claudio|Militar   |BH    |91000  |50   |21000|
+-------+----------+------+-------+-----+-----+

In [0]:
df3.orderBy(["nome","funcao","estado","salario","idade","bonus"]).show(truncate=False)

+-------+----------+------+-------+-----+-----+
|nome   |funcao    |estado|salario|idade|bonus|
+-------+----------+------+-------+-----+-----+
|Claudio|Militar   |BH    |91000  |50   |21000|
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Nina   |Médica    |RJ    |79000  |53   |15000|
|Nina   |Médica    |RJ    |81000  |30   |23000|
|Roberta|Vendedora |BA    |80000  |25   |18000|
|Roberta|Vendedora |BA    |86000  |56   |20000|
+-------+----------+------+-------+-----+-----+

In [0]:
df3 = df.union(df2).distinct()

df3.printSchema()

df3.orderBy(["nome","funcao","estado","salario","idade","bonus"]).show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- funcao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- salario: long (nullable = true)
 |-- idade: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------+----------+------+-------+-----+-----+
|nome   |funcao    |estado|salario|idade|bonus|
+-------+----------+------+-------+-----+-----+
|Claudio|Militar   |BH    |91000  |50   |21000|
|Gabriel|Analista  |RJ    |90000  |34   |10000|
|Maria  |Enfermeira|MA    |90000  |24   |23000|
|Nina   |Médica    |RJ    |79000  |53   |15000|
|Nina   |Médica    |RJ    |81000  |30   |23000|
|Roberta|Vendedora |BA    |80000  |25   |18000|
|Roberta|Vendedora |BA    |86000  |56   |20000|
+-------+----------+------+-------+-----+-----+

In [0]:

df1 = spark.createDataFrame([['maria','28','f']] , ['nome','idade','sexo'])

df2 =  spark.createDataFrame([['gabriel', '21987654321','m']] , ['nome', 'telefone','sexo'])

df3 = df1.unionByName(df2, allowMissingColumns=True)

df3.printSchema()

df3.show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- telefone: string (nullable = true)

+-------+-----+----+-----------+
|nome   |idade|sexo|telefone   |
+-------+-----+----+-----------+
|maria  |28   |f   |null       |
|gabriel|null |m   |21987654321|
+-------+-----+----+-----------+

In [0]:

df1 = spark.createDataFrame([['maria','28','f']] , ['nome','idade','sexo'])

df2 =  spark.createDataFrame([['gabriel','m' ,'21']] , ['nome', 'sexo','idade'])

df3 = df1.unionByName(df2)

df3.printSchema()

df3.show(truncate=False)

root
 |-- nome: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- sexo: string (nullable = true)

+-------+-----+----+
|nome   |idade|sexo|
+-------+-----+----+
|maria  |28   |f   |
|gabriel|21   |m   |
+-------+-----+----+