In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:
dados = [
('Fred', 39, '450000')
,('Romário',57, '300000')
,('Roberto Carlos', 50, '320000')
,('Ronaldo Fenômeno', 47, '890000')
]

schema = ['jogador','idade','salario']

df = spark.createDataFrame(data=dados, schema=schema)

df.printSchema()

df.show()

# Modo 01 de Conversão de DataType
#df = df.withColumn('salario', df.salario.cast('float'))

# Modo 02 de Conversão de DataType
df = df.withColumn('salario', col('salario').cast('float'))

df = df.withColumn('salario', df.salario * 1.2)

df = df.withColumn('status', lit('Aposentado'))

df.printSchema()

df.show()